@font-face {
  font-family: "title-font";
  src: url("fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf");
}

@font-face {
  font-family: "text-font";
  src: url("fonts/Nunito/static/Nunito-Medium.ttf");
  font-weight: normal;
  font-weight: normal;
}

body {
  background-color: black;
  margin: 0;
  font-family: "text-font";
  color: azure;
  font-weight: 700;
  letter-spacing: 1.4px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 40px;
  align-items: center;
  background-color: #3dccc79d;
}

nav a {
  text-decoration: none;
  color: azure;
}

nav a {
  --c: linear-gradient(to bottom, #3dccc7 0%, #3dccc7 100%);
  padding-bottom: 0.15em;
  background: var(--c), var(--c);
  background-size: 0.3em 0em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear, background-size 0.3s 0.2s linear;
}

nav a:hover {
  color: rgb(199, 199, 199);
  background-size: 50% 0.2em;
  background-position: 10% 100%, 90% 100%;
}

header h1 {
  font-family: "title-font";
  margin: 0;
  color: #3dccc7;
  font-size: 350%;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

.all {
  background-image: url(images/abstrait-image.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
}

.all .blackboxup {
  background-color: black;
  height: 2.2vh;
  width: 100%;
}

.all .blackboxdown {
  background-color: black;
  height: 2.2vh;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  margin-top: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slide h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.slide p {
  font-size: 18px;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.prev {
  left: 5vh;
}

.next {
  right: 5vh;
}



* {
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
footer {
  background-color: #292929;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3dccc7;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}



@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

main h1 {
  font-family: "title-font";
  margin: 0;
  color: #3dccc7;
  font-size: 200%;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

<!-- Reglage Dark Mod-->

body.dark-mode {
  background-color: white;
}


body.dark-mode .all{
  background-image: url(images/abstrait-image-white-mode.jpg);
}


body.dark-mode h1 {
  color: #872A1C
}

body.dark-mode p {
  color: black;
}

body.dark-mode .exo1,
body.dark-mode .exo2,
body.dark-mode .exo3,
body.dark-mode .exo4{
  background-color: #ffffff;
}

body.dark-mode .exo1 pre,
body.dark-mode .exo2 pre,
body.dark-mode .exo3 pre,
body.dark-mode .exo4 pre {
    background-color: #CCCCCC; 
    padding: 10px;
    color: #872A1C; 
    overflow-x: auto; 
}


body.dark-mode .exo1 code,
body.dark-mode .exo2 code,
body.dark-mode .exo3 code,
body.dark-mode .exo4 code {
    background-color: #CCCCCC; 
    color: #872A1C; 
    display: block; 
    padding: 10px;
    line-height: 1.5; 
}



body.dark-mode nav{
  background-color: #872a1cae;
}

body.dark-mode footer{
  background-color: #CCCCCC;
}

body.dark-mode footer a {
  color: #444444;
}

body.dark-mode .footer-col ul li a:hover {
  color: black;
} 

body.dark-mode h4{
  color: black;
}
body.dark-mode .footer-col h4::before{
  background-color:#872A1C;
}

body.dark-mode span{
  color: #872A1C;
}
body.dark-mode .screen{
  background-color: #CCCCCC;
}

body.dark-mode .app-title:after {
  background: #872A1C;

}

body.dark-mode .app-form-button{
  color: #872A1C;
}

body.dark-mode .blackboxdown {
  background-color: transparent;
}


.btToggle .btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  line-height : 34px;
  color:#fff;
}


.btToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}


.btToggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0; 
  bottom: 0;
   right:0;
  background-color: #000;  
  border-radius: 34px; 
  white-space : nowrap;
}

.btToggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white; 
  border-radius: 50%;
}

.btToggle input:checked + .slider {
  background-color: #fff; 
}

.btToggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  color:#000;
}

.btToggle input:checked + .slider:before {
  right:4px;
  left:auto;
  background-color: #000;
}

form {
  padding:5px;

}

/* Styles pour le menu burger */
.burger-menu {
  display: none; /* Par défaut, le menu burger est masqué */
  cursor: pointer;
}

.burger-menu .bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Affichage du menu burger uniquement pour les écrans de petite taille */
@media (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: none; /* Masque les liens du menu principal */
  }

  .burger-menu {
    display: block; /* Affiche le menu burger */
  }

  /* Styles pour afficher le menu burger */
  .burger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
